{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <div class="item slider-screen">
        <div class="slider-img-full">
            <img src={% static "uploads/slider-02.jpg" %}  alt="" />
        </div>
        <div class="container">
            <div class="slider-content text-white">
                <div class="in-box">
                    <h2>Variety of quality products </h2>
                    <p>Your favorite shop on one click destination</p>

                </div>
            </div>
        </div>
    </div>
    <div id="menu" class="section lb">
        <div class="container-fluid">
            <div class="section-title text-center">
                <h3>Cataloge</h3>
                <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
            </div><!-- end title -->
			<div class="gallery-menu text-center row">
				<div class="col-md-12">
					<div class="button-group filter-button-group">
						<button class="hvr-radial-in active" data-filter="*">All</button>
						<button class="hvr-radial-in" data-filter=".gal_a">Starters</button>
						<button class="hvr-radial-in" data-filter=".gal_b">Shops</button>
						<button class="hvr-radial-in" data-filter=".gal_c">Main Course </button>
						<button class="hvr-radial-in" data-filter=".gal_d">Desserts</button>
					</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-01.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 18.00</a>
					</div>
                </div><!-- end col -->

                <div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-02.jpg" %} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 20.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-03.jpg" %} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 10.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-04.jpg" %} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 21.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-05.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 22.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-06.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 24.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-07.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 28.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-08.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 30.00</a>
					</div>
                </div><!-- end col -->
            <div class="row">
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-01.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 18.00</a>
					</div>
                </div><!-- end col -->

                <div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-02.jpg" %} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 20.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-03.jpg" %} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 10.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-04.jpg" %} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 21.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-05.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 22.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-06.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 24.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-07.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 28.00</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<img src={% static "uploads/menu-img-08.jpg"%} class="img-fluid" alt="" />
						</div>
						<h2>Vegetable Name..</h2>
						<a class="hvr-radial-in" href="#">$ 30.00</a>
					</div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}