{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
<section id="home" class="main-banner">

    <div class="slider-new-2 owl-carousel owl-theme">



        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src={% static "uploads/slider-02.jpg" %}  alt=""/>
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>Awesome Restaurant, Best Recipes for Dinner</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-radial-in" href="{% url 'products cataloge' %}">GO TO CATALOGUE NOW !</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src={% static "uploads/slider-03.jpg" %} alt=""/>
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>Awesome Restaurant, Best Recipes for Dinner</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-radial-in" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


<div id="gallery" class="section wb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>TOP Products</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

                <div class="gallery-menu text-center row">
                    <div class="col-md-12">
                        <div class="button-group filter-button-group">
                            <button class="hvr-radial-in active" data-filter="*">All</button>
                            <button class="hvr-radial-in" data-filter=".vege">Starters</button>
                            <button class="hvr-radial-in" data-filter=".gal_b">Shops</button>
                            <button class="hvr-radial-in" data-filter=".gal_c">Main Course</button>
                            <button class="hvr-radial-in" data-filter=".gal_d">Desserts</button>
                        </div>
                    </div>
                </div>
            <div class="gallery-list row" >
            {% for product in top %}

                    <div class=" col-md-2,5 col-sm-2,5  gallery-grid {{product.type}}  ">
                        <div class="gallery-single fix">
                            <div class="card" style="width: 20rem;">
                                {% if product.promo == 1 %}
                                    <h3>Product in  <span class="badge badge-warning">PROMO</span></h3>
                                {% endif %}
                              <img src="{% static "uploads/menu-img-02.jpg" %}" class="card-img-top" alt="{% static "uploads/menu-img-02.jpg" %}">
                              <div class="card-body">
                                <h2 class="card-title">{{ product.name }}</h2>
                                <p class="card-text">
                                    <h4>Price : {{ product.price }}$</h4>
                                  {% if product.stock > 0 %}
                                    <h3>Product <span class="badge badge-success">IN STOCK</span></h3>
                                  {% else %}
                                    <h3>Product <span class="badge badge-danger">OUT OF STOCK</span></h3>
                                  {% endif %}
                                </p>
                              </div>
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">Type: {{ product.type }}</li>
                                <li class="list-group-item">Product origin: {{product.origin }}</li>
        {#                        <li class="list-group-item">Price: {{ product.price }}$</li>#}
                              </ul>
                              <div class="card-body">
                                  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Buy Product</a>
                                  <a href="{% url 'product details' product.barcode %}" class="btn btn-secondary btn-lg active" >Details</a>
        {#                          <a href="#" class="card-link">Add to car</a>#}
        {#                          <a href="{% url 'product details' product.barcode %}" class="card-link">Details</a>#}
                              </div>
                        </div>
                    </div>
                </div><!-- end col -->
            {% endfor %}
            </div>


    </div>
</div>
<div id="gallery" class="section wb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>OFFERTS</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->
                <div class="gallery-menu text-center row">
                    <div class="col-md-12">
                        <div class="button-group filter-button-group">
                            <button class="hvr-radial-in active" data-filter="*">All</button>
                            <button class="hvr-radial-in" data-filter=".vege">Starters</button>
                            <button class="hvr-radial-in" data-filter=".gal_b">Shops</button>
                            <button class="hvr-radial-in" data-filter=".gal_c">Main Course</button>
                            <button class="hvr-radial-in" data-filter=".gal_d">Desserts</button>
                        </div>
                    </div>
                </div>
            <div class="gallery-list row" >
            {% for product in promo %}

                    <div class=" col-md-2,5 col-sm-2,5  gallery-grid {{product.type}}  ">
                        <div class="gallery-single fix">
                            <div class="card" style="width: 20rem;">
                            {% if product.promo == 1 %}
                                <h3>Product in  <span class="badge badge-warning">PROMO</span></h3>
                            {% endif %}
                              <img src="{% static "uploads/menu-img-02.jpg" %}" class="card-img-top" alt="{% static "uploads/menu-img-02.jpg" %}">
                              <div class="card-body">
                                <h2 class="card-title">{{ product.name }}</h2>
                                <p class="card-text">
                                    <h4>Price : {{ product.price }}$</h4>
                                  {% if product.stock > 0 %}
                                    <h3>Product <span class="badge badge-success">IN STOCK</span></h3>
                                  {% else %}
                                    <h3>Product <span class="badge badge-danger">OUT OF STOCK</span></h3>
                                  {% endif %}
                                </p>
                              </div>
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">Type: {{ product.type }}</li>
                                <li class="list-group-item">Product origin: {{product.origin }}</li>
        {#                        <li class="list-group-item">Price: {{ product.price }}$</li>#}
                              </ul>
                              <div class="card-body">
                                  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Buy Product</a>
                                  <a href="{% url 'product details' product.barcode %}" class="btn btn-secondary btn-lg active" >Details</a>
        {#                          <a href="#" class="card-link">Add to car</a>#}
        {#                          <a href="{% url 'product details' product.barcode %}" class="card-link">Details</a>#}
                              </div>
                        </div>
                    </div>
                </div><!-- end col -->
            {% endfor %}
            </div>
    </div>
</div>



<div id="about" class="section lb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h2>Welcome to Green Special Restaurant.</h2>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
                        bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis
                        parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero
                        bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>
                    <p>Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero,
                        eu bibendum risus. Phasellus et congue justo.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Nullam ut massa id odio imperdiet consequat.</li>
                        <li>Cras ullamcorper nisi eget condimentum aliquet.</li>
                        <li>Cras id libero iaculis, sodales ligula vitae, egestas odio.</li>
                        <li>Aenean congue ex et bibendum porta.</li>
                    </ul>
                    <a href="#" class="sim-btn hvr-radial-in"><span>Contact Us</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src={% static  "uploads/about_01.png" %} alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="section cont-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="inner-cont-box">
                    <i class="flaticon-review"></i>
                    <h3 class="counter-number">5000</h3>
                    <h4>Client</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="inner-cont-box">
                    <i class="flaticon-alarm-clock"></i>
                    <h3 class="counter-number">3000</h3>
                    <h4>Time Of Work</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="inner-cont-box">
                    <i class="flaticon-idea"></i>
                    <h3 class="counter-number">2000</h3>
                    <h4>Ideas</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="inner-cont-box">
                    <i class="flaticon-projector-screen"></i>
                    <h3 class="counter-number">8000</h3>
                    <h4>Project Done</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}